@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display:wght@900&display=swap');

body, html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: rgba(10, 2, 17, 0.724);
}
/* changes for size and position of background-image 1 */
.main-image {
    padding: 5px;
    background: url('../css/images/soundtrade.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* changes for size and position of background-image 2 */
.image-2 {
    padding: 5px;
    background: url('../css/images/mixerbord\ 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Style and position for the topheader */
.top-header {
    margin-top: 2%;
    width: 100%; 
}
/* Style and postion for the topheader text */
.title {
    text-align: center;
    font-size: 280%;
    color: #fff;
    
}


/* Flexcontainer for the links */
.years {
    font-size: 150%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* style and positioning for the links */
.years li {
    margin: 2%;
    list-style-type: none;
    
}
/* style for the links */
.years a {
    color: #fff;
    text-decoration: none;
}
/* style for the links */
.years a:hover {
    border-bottom: 4px solid #fff;
}

,years a:active {
    border-bottom: 4px solid #fff;
}

/* to wrap in the middle image and content */
/* flexcontainer settings for the content in the middle*/
.history {
    margin-left: 25%;
    margin-right: 25%
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%; 
}
/* Style for the content text */
.history-text {
    font-family: playfair display;
    padding-top: 30%;
    color: #fff;
}
/* Settings for the image */
/* i am not using that image at the moment */
.pictures {
    width: 300px;
    height:300px;
    border-radius: 150px;
}

/* Position for the footer */
footer {
    padding-top: 10% ;
}

/* Style and positioning for the contact.html page */
.contact {
    display: flex; 
    flex-wrap: wrap;
    gap: 2em;
    width: 70%; 
    padding-top: 5%;
    padding-left: 10%;
    justify-content: space-evenly;
    font-family: playfair display;
    color: #fff;
    font-size: 120%;
}
/* flex settings for the adress, email and phone */
.contact-items {
    display: flex;
    flex-direction: column;
}
/* flex settings for the p-elements */
.contact p {
    flex-grow: 1;
    flex-shrink: 1;
}
/* flex settings for the a-elements */
.contact a {
    flex-grow: 1;
    flex-shrink: 1;
    color: #fff;
}
/* positioning for the map */
iframe {
    padding-left: 30%;
}