body, html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: url('../css/images/soundtrade.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top-header {
    
    margin-top: 2%;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 280%;
    color: #fff;
    background-color: black;
    
}

/* style for the links */
/* Flexcontainer for the links */
.years {
    font-size: 100%;
    background-color: green;
    display: flex;
    justify-content: space-around;
    width: 97%;
    
}


.years li {
    margin: 2%;
    list-style-type: none;
    
}

.years a {
    color: #fff;
    text-decoration: none;
    
}

/* to wrap in the middle image and content */
/* flexcontainer settings*/
.history {
    margin-left: 25%;
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
    background-color: yellow;
}
/* Settings for the image */
.pictures {
    width: 300px;
    height:300px;
    border-radius: 150px;
}

.history-text {
    margin-top: 10%;
    margin-left: 2%;
}



