body, html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: url('../css/images/soundtrade.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top-header {
    display:flex;
    margin-top: 2%;
}

.title {
    font-size: 280%;
    color: #fff;
    background-color: black;
    flex: 5;
}

/* style for the links */

.years {
    font-size: 100%;
    background-color: green;
    display: flex;
    
}


.years li {
    margin: 2%;
    list-style-type: none;
    flex: 3;
}

.years a {
    color: #fff;
    text-decoration: none;
    
}




